#container {
    display: grid;
    /* grid-template-columns:25% 25% 25% 25%; */
    grid-template-columns:repeat(4, 25%);
    /* grid-template-rows: 50% 50%; */
    grid-template-rows: repeat(2, 50%)
}

 img{
     height: 50%;
 }

.Item {
    height: 500px;
    border: solid black;
    /* padding: 40px; */
    text-align: center;
}